.carousel-item {
    transition: transform .6s ease-in-out;
}

.carousel-item img{
    width: 100%;
    height: 370px;       /* chiều cao bạn muốn */
    object-fit: cover;   /* crop ảnh lại cho đẹp */
}

.carousel-item > .d-flex {
    width: 100%;
}

.carousel-control-prev{
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: rgba(0,0,0,0.4);
    border-radius: 8%; /*vuông*/
    left: -60px;

}
.carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: black; /* nền đen mờ */
    border-radius: 8%; /*vuông*/
    right: -60px;
}


.carousel-control-prev-icon{
    filter: brightness(0) invert(1); /* icon trắng */
    opacity: 1;
    transition: all 0.3s ease;
}


.carousel-control-next-icon {
    filter: brightness(0) invert(1); /* icon trắng */
    opacity: 1;
    transition: all 0.3s ease;
}

/* Hover */
.carousel-control-prev:hover{
    background: #fff; /* nền trắng khi hover */

}
.carousel-control-next:hover {
    background: #fff; /* nền trắng khi hover */
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    filter: brightness(0) invert(0); /* icon màu đen */
}

